aws_region             = "ap-northeast-2"
environment            = "prod"
project                = "student-mgmt"
domain_name            = "your-domain.com"   # Route53 호스팅 존 사전 등록 필요

eks_node_instance_type = "t3.medium"
eks_node_desired       = 2
eks_node_min           = 2                   # 무중단 배포를 위해 최소 2 유지
eks_node_max           = 5

db_username            = "appuser"
db_password            = "CHANGE_ME_strong_password_16chars"
jwt_secret             = "CHANGE_ME_at_least_256_bits_long_secret_key_here_padding"

github_org             = "your-github-username"
github_repo            = "dev"
